<div class="menu4">
  <h1>Blah Blah Blogs</h1>
</div>
<div class= "textfield">
  <h2>Sign Up</h2>
  First Name
  <br>
  <input class="textbox"type="text">
  <br><br>
  Last Name
  <br>
  <input class="textbox"type="text">
  <br><br>
  Username
  <br>
  <input class="textbox"type="text">
  <br><br>
  Password
  <br>
  <input class="textbox"type="text">
  <br><br>
  Password Confirmation
  <br>
  <input class="textbox"type="text">
  <br><br>
  <button class="css_button">Submit</button>
</div>
