<div class="menu3">
  <h1>Blah Blah Blogs</h1>
  <h2>Contact Us</h2>
  <ul>
    <%= link_to "Home", root_path %>
    <%= link_to "About Us", about_us_path %>
    <%= link_to "Sign In", signin_path %>
    <%= link_to "Sign Up", signup_path %>
  </ul>
</div>

<body>
  <p>Blog about aything you want within the certain categories.<p>
  <p>Categories for everyone!</p>
</body>
