<div class= "textfield">
  <h2>Contact Us</h2>
  <p>Please contact us with any feedback, questions or anything else.<p>
  <p> <%= link_to "Github", "https://github.com/MacBohn" %></a>  </p>
  <p><%= link_to "Twitter", "https://twitter.com/BohnMccartney" %> </p>
  <p><%= link_to "LinkedIn", "https://www.linkedin.com/profile/view?id=375932840&trk=nav_responsive_tab_profile" %> </p>
  <p> Email: mccartneybohn@yahoo.com</p>
  <p>Categories for everyone!</p>
  <p></p>
</div>
