<div class= "textfield1">
    <div class="contact">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/0b3/064/000e810.jpg" />
    <h2>McCartney Bohn</h2>
    <h5><%= mail_to "mccartneybohn@yahoo.com" %></h5>
  </div>
  <h2>Contact Us</h2>
  <p>Please contact us with any feedback, questions or anything else.<p>
    <p> <%= link_to "Github", "https://github.com/MacBohn" %></a>  </p>
    <p><%= link_to "Twitter", "https://twitter.com/BohnMccartney" %> </p>
    <p><%= link_to "LinkedIn", "https://www.linkedin.com/profile/view?id=375932840&trk=nav_responsive_tab_profile" %> </p>
  </div>
