<div class="menu2">
  <h1>About Us</h1>
  <ul>
    <%= link_to "Home", root_path %>
    <%= link_to "Contact Us", contact_us_path %>
    <%= link_to "Sign In", signin_path %>
    <%= link_to "Sign Up", signup_path %>
  </ul>
</div>
