
<div class = "textfield">
  <% @posts.each do |post| %>
  <h3>Blogs </h3>
  <p id = "title"><%= post.title %></p>
  <p id = "body"><%= post.body %></p>

  <% if post.category %> 
  <%= post.category.category %>
  <% end %>

  <% end %>
</div>
<br>
