@import "bootstrap-sprockets";
@import "bootstrap";


h1{
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: ;
}
h2{
  color: black;
  text-align: center;
  font-size: 35px;
}

h3{
  font-size: 30px;
  color: red;
}

h4{
  font-size: 20px;
  color: white;
}

h5 a{
  font-size: 20px;
  color: white;
}

.navbar-inverse{
  border: 2px solid white;
  background: black;
}

.twitter{
  border: 3px solid white;
  background: black;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 20px;
  color: #0DBEDE;
}

form{
  text-align: center;
}

.btn{
  font-family: cursive;
  font-size: 20px;
  background: green;
  font-color: white;
  border: black;
}

.btn:hover{
  background: black;
  border: none;
}
p{
  text-align: center;
  font-size: 30px;
  color: white;
}
.about-links a{
  color: white;
}

.menu {
  margin-top: 30px;
  text-align: center;
  font-color: white;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background: black;
}

ul{
  font-size: 18px;
}

.notice{
  padding: 5px;
  color: blue;
  text-align: center;
  font-size: 30px;
  border: 4px solid red;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  background: white;
  border-radius: 40px;
}

.form-control{
  margin-right: 100px;
}
.textbox {
  text-align: center;
  background: white;
  border: 1px solid #209AB3;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px white;
  color: #666;
  outline: none;
  height:30px;
  width: 275px;
}
.css_button {
  font-size: 24px;
  font-family: Comic Sans MS;
  border-radius: 16px 16px 16px 16px;
  border: 3px solid white;
  padding: 9px 24px;
  text-shadow: 1px 1px 0px white;
  box-shadow: inset 1px 1px 0px 0px #209AB3;
  cursor: pointer;
  color: white;
  display: inline-block;
  background: black;
}
body{
  background-image: url('http://www.wallpaper4me.com/images/wallpapers/weedplant-482554.jpeg');
  background-repeat: no-repeat;
  background-size: 1300px 756px;

}

label{
  color: white;
}
.textfield{
  border-radius: 5px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  padding: 20px 40px;
  background: transparent;
}

.textfield1{
  border-radius: 5px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 10px;
  padding: 20px 40px;
  background: transparent;
}

.textfield3{
  border-radius: 5px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 10px;
  padding: 10px 10px 0px 10px;
  border: 2px solid white;
  background: white;
  resize: none;
  text-align: left;
  width: 64%;
  overflow: hidden;
}

.navbar-brand{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  background: green;
  font-family: cursive;
}

.navbar-inverse .navbar-brand{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  background: green;
  font-family: cursive;
}

#title{
  border: 2px solid white;
  background: black;
  color: white;
}

#body{
  border: 2px solid white;
  background: black;
  height: 200px;
  color: white;
  overflow-y: scroll;
  }

  .category{
    text-align: center;
    border: 3px solid white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 380px;
    margin-right: 350px;
    background: black;
  }

  img{
    margin-bottom: 20px;
    border-radius: 100px;
    border: 3px solid white;
  }

  input[type="text"], textarea{
    background-color : black;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
  }

  input[type="password"]{
    background-color : black;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
  }

  .form-control{
    background: black;
    color: white;
  }
  #header{
    color: black;
    text-align: center;
    background: orange;
    border: 3px solid white;
    margin: 0px 400px 10px 420px;
    font-family: cursive;
    font-size: 50px;
    border-radius: 20px;

  }
  #category{
    color: white;
  }

  .contact{
    float: left;
  }
  #sign{
    border: 3px solid black;
    background: #4099FF;
    margin: 0px 100px 0px 100px;
    border-radius: 20px;
    padding: 10px 10px;
  }

h2, a{
  color: white;
}
h2, a:hover{
  color: white;
}

.select-field{
  width: 100%;
}

.about-links a{
  color: black;
}

.about-links a:hover{
  color: grey;
}

  /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any styles
  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
  * file per style scope.
  *
  *= require_tree .
  *= require_self
  */
