h1{
  color: red;
  font-size: 50px;
}
h2{
  color: #0D37FF;
  text-align: center;
  font-size: 35px;
}
.textfield{
  text-align: center;
}
.menu {
  text-align: center;
  border: 5px solid green;
  background: #8AD9FF;
}
.menu2 {
  text-align: center;
  border: 5px solid green;
  background: #8AD9FF;
}
.menu3 {
  text-align: center;
  border: 5px solid green;
  background: #8AD9FF;
}
.menu4 {
  text-align: center;
  border: 5px solid green;
  background: #8AD9FF;
}
ul{
  font-size: 18px;
}
a{
  padding: 60px;
}
footer{
  height: 100%;
}
.textbox {
  text-align: center;
  background: white;
  border: 1px solid #ffa853;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px #ffa853;
  color: #666;
  outline: none;
  height:23px;
  width: 275px;
}
p{
  text-align: center;
}
.css_button {
      font-size: 24px;
    font-family: Comic Sans MS;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
    border: 3px solid #e65f44;
    padding: 9px 24px;
    text-shadow: 1px 1px 0px #ded17c;
    -webkit-box-shadow: inset 1px 1px 0px 0px #f9eca0;
    -moz-box-shadow: inset 1px 1px 0px 0px #f9eca0;
    box-shadow: inset 1px 1px 0px 0px #f9eca0;
    cursor: pointer;
    color: #c92200;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #f2ab1e 5%, #f0c911 100%);
    background: -moz-linear-gradient(90deg, #f2ab1e 5%, #f0c911 100%);
    background: -ms-linear-gradient(90deg, #f2ab1e 5%, #f0c911 100%);
    background: linear-gradient(180deg, #f0c911 5%, #f2ab1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0c911",endColorstr="#f2ab1e");
}





/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
